<!DOCTYPE html>
<html>
	<head>
		<style>
		  .responsive-iframe {
		    width: 100%; /* 使iframe宽度自适应父容器 */
		    height: 100vh; /* 使iframe高度自适应视口高度 */
		    border: none; /* 可选，移除iframe边框 */
		  }
		</style>
	</head>
	<body style="overflow: hidden;"> <!--隐藏父页面的滚动条-->
		<div>
			<iframe class="responsive-iframe" src="http://10.126.31.45:3100/login?redirect=/mail/file&auto=1&hideMenu=1"></iframe>
		</div>
	</body>
</html>