<%- model_class = ReceiverZone -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.index', '%{model} Manage'], :model => model_class.model_name.human.titleize %></h1>
  <%= render partial: '/layouts/page_size' %>
  <div style="float:right">
    <% if can? :new, ReceiverZone %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_receiver_zone_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= grid(@receiver_zones_grid) do |g|
    g.column name: model_class.human_attribute_name(:zone), attribute: 'zone'

    g.column name: model_class.human_attribute_name(:country_id), attribute: 'country_id', assoc: :country, attribute: 'name'

    g.column name: model_class.human_attribute_name(:start_postcode), attribute: 'start_postcode'

    g.column name: model_class.human_attribute_name(:end_postcode), attribute: 'end_postcode'

    g.column do |receiver_zone|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_receiver_zone_path(receiver_zone), :class => 'btn btn-xs btn-primary' if can? :update, receiver_zone) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), receiver_zone_path(receiver_zone), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, receiver_zone)
    end
  end 
%>