<%= form_with(model: express, local: true) do |form| %>
  <% if express.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(express.errors.count, "error") %> prohibited this express from being saved:</h2>

      <ul>
        <% express.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
