
<br>
<font face="微软雅黑" color='#006030' size=6>邮件全过程信息</font>   
<table data-toggle="table" 
    data-height="700">
  <thead>
    <tr class= 'nowrap'>
      <th><b>邮件全过程信息</b></th>
    </tr>
  </thead>
  <tbody>
  	<tr class= 'nowrap'>
        <td>
        	<%= @traces %>
        </td>
  	</tr>
  </tbody>
</table>
  
